.footer {
    background-color: #222;
    color: #ccc;
    padding: 30px 20px;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center align content */
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Space out columns evenly */
    width: 100%;
    padding: 0 40px; /* Add padding to the left and right */
}

.footer-section {
    flex: 1; /* Make sections flexible */
    margin: 20px; /* Space between sections */
    min-width: 150px; /* Minimum width for responsiveness */
    display: flex; /* Use Flexbox for alignment */
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align items to the start (left) */
}

.footer-logo {
    font-size: 36px;
    color: #fff;
    padding-left: 20px; /* Add padding from left */
}

.dot {
    color: orange;
}

.footer p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
}

.footer-section h2 {
    color: orange;
    font-size: 25px; /* Increase font size for column titles */
    margin-bottom: 10px; /* Space below the heading */
    position: relative; /* Position for pseudo-element */
    padding-left: 10px; /* Space between vertical line and heading */
    margin-left: 30px;
}

.footer-section h2::before {
    content: '';
    display: inline-block;
    width: 3px; /* Width of the vertical line */
    height: 22px; /* Height of the vertical line */
    background-color: orange; /* Color of the vertical line */
    margin-right: 8px; /* Space between the line and the title */
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Reset margin for ul */
    width: 100%; /* Ensure ul takes full width */
}

.footer-section ul li {
    margin-bottom: 10px; /* Spacing between items */
    margin-left: 42px;
    margin-top: 15px;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 21px; /* Increase font size for links */
    transition: padding-left 0.5s ease, color 0.5s ease; /* Smooth transition */
}

.footer-section ul li a:hover {
    color: #FF8C00; /* Change color on hover to a variant of orange */
    padding-left: 7px; /* Add left padding on hover */
}

.socials {
    display: flex;
    margin-top: 20px;
}

.socials a {
    color: #fff;
    font-size: 30px;
    margin-right: 10px;
    text-decoration: none;
}

.socials a:hover {
    color: orange;
}

.footer-divider {
    width: 100%;
    border: 0;
    height: 1px;
    background: #444; /* Color of the horizontal line */
    margin: 20px 0; /* Space above and below the line */
}

.copyright {
    font-size: 28px; /* Increase font size for copyright */
    font-weight: 500; /* Make the copyright text bold */
    color: #ccc; /* Match text color */
    text-align: center; /* Center the copyright text */
    margin: 10px 0; /* Margin around copyright */
    margin-bottom: 0px;
}
