/* App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the app takes the full height of the viewport */
}

.content {
  flex: 1; /* Makes sure content takes up available space, pushing the footer to the bottom */
}

